# ===================================================================
# Server Environment Configuration
# ===================================================================
PORT=8080

# ===================================================================
# Database Credentials
# ===================================================================
DB_URL=jdbc:mysql://localhost:3306/proyecto_dswii?useSSL=false&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=mysql

# ===================================================================
# JPA & Hibernate Settings
# ===================================================================
JPA_DDL_AUTO=update
JPA_SHOW_SQL=true

# ===================================================================
# JWT Settings
# ===================================================================
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION_MS=86400000

